<div class="container">
  <h1>Dosages</h1>

  <table id="dosages-table" class="table table-striped table-bordered">
    <thead>
      <td class="dosage-drug-name">Drug name</th>
      <td class="dosage-cell">3 - 5.9kg<br/><span class="dosage-am">AM</span><span class="dosage-pm">PM</span></td>
      <td class="dosage-cell">6 - 9.9kg<br/><span class="dosage-am">AM</span><span class="dosage-pm">PM</span></td>
      <td class="dosage-cell">10 - 13.9kg<br/><span class="dosage-am">AM</span><span class="dosage-pm">PM</span></td>
      <td class="dosage-cell">14 - 19.9kg<br/><span class="dosage-am">AM</span><span class="dosage-pm">PM</span></td>
      <td class="dosage-cell">20 - 24.9kg<br/><span class="dosage-am">AM</span><span class="dosage-pm">PM</span></td>
      <td class="dosage-cell">25 - 29.9kg<br/><span class="dosage-am">AM</span><span class="dosage-pm">PM</span></td>
      <td class="dosage-cell">30 - 34.9kg<br/><span class="dosage-am">AM</span><span class="dosage-pm">PM</span></td>
      <td class="dosage-cell">35 - 39.9kg<br/><span class="dosage-am">AM</span><span class="dosage-pm">PM</span></td>
      <td class="dosage-cell">40 - 49.9kg<br/><span class="dosage-am">AM</span><span class="dosage-pm">PM</span></td>
      <td class="dosage-cell">50kg+</td>
      <td>Actions</td>
    </thead>
    <tbody>
      <% @drug_dosages.each do |drug, dosages| %>
        <tr>
          <td class="dosage-drug-name"><%= drug.moh_name %></td>
          <% breakdown_to_moh_dosages(dosages).each do |dosage| %>
            <% if dosage %>
              <td class="dosage-cell">
                <div>
                  <span class="dosage-am"><%= dosage.am %></span>
                  <span class="dosage-pm"><%= dosage.pm %></span>
                </div>
              </td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
          <td>
            <a href="#" class="btn btn-link text-primary icon-button"><i class="fas fa-edit mr-1"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  .dosage-cell {
    min-width: 120px;
    font-weight: bold;
  }

  .dosage-drug-name {
    min-width: 240px;
  }

  .dosage-am {
    text-align: left;
    padding-right: 10px;
  }
  
  .dosage-pm {
    text-align: right;
    padding-left: 10px;
  }

  .icon-button {
    padding: 0;
    margin: auto;
  }
</style>

<%= javascript_pack_tag 'dosages/index' %>
