// Place all the styles related to the regimens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.regimens-table {
  width: 100%;
}

.regimen-row > td, .regimen-row > th {
  font-weight: bold;
  border: 2px solid black;
}

.paed-regimen-row {
  background-color: #b19cd9;
  border: 1px solid purple;
} 

.adult-regimen-row {
  background-color: #ffffe0;
  border: 1px solid yellow;
}

.card-footer {
  background-color: white;
  border-color: white;
}

.inline-select {
  display: inline-flex;
}