// Place all the styles related to the regimens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.regimen {
  height: 100%;
  margin-top: 10px;
}

.paed-regimen-header {
  background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
} 

.adult-regimen-header {
  background: linear-gradient(40deg, yellow, orange);
}

.card-footer {
  background-color: white;
  border-color: white;
}