<div class="regimen_combination">
  <%= form.fields_for :drugs, RegimenCombinationDrug.new do |drugs_form| %>
    <%= render 'drug_fields', form: drugs_form %>
  <% end %>

  <%= link_to_add_fields '+ Drug', form, :drugs %>
  <a href="#" class="remove_fields">- Drug</a>
</div>