<tr>
  <td class="<%= regimen.name[-1].casecmp?('P') ? 'paed-regimen-row' : 'adult-regimen-row' %>"><%= regimen.name %></td>
  <td>
    <ul>
      <% regimen.combinations.sort_by(&:name).each do |combination| %>
        <li><%= combination.name %></li>
      <% end %>
    </ul>
  </td>

  <td>
    <a href="<%= edit_regimen_path(regimen) %>" class="btn btn-link text-primary"><i class="fas fa-edit"></i></a>
  </td>
</tr>
