<tr class="regimen-row <%= regimen.name[-1].casecmp?('P') ? 'paed-regimen-row' : 'adult-regimen-row' %>">
  <td><%= regimen.name %></td>
  <td>
    <ul>
      <% regimen.combinations.sort_by(&:name).each do |combination| %>
        <li><%= combination.name %></li>
      <% end %>
    </ul>
  </td>

  <td>
    <%= link_to 'Edit', edit_regimen_path(regimen), class: "btn btn-outline-primary waves-effect" %>
  </td>
</tr>
