<div class="container">
  <h1><%= @regimen.name %></h1>
  <hr />

  <%= render 'combinations', regimen: @regimen %>
  <%= render 'edit_form', regimen: @regimen %>
</div>

<%= javascript_pack_tag 'regimens/edit' %>
